Repository PhantomInTheWire/CloudCop: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy-api, go-mod-tidy-worker, go-build-api, go-build-worker, gosec-api, gosec-worker, ruff-check, mypy-check, bandit-check, eslint-check, prettier-check, docker-compose-check

Path conditions:
  go-mod-tidy-api: any of: ^backend/api/(go\.mod|go\.sum|.*\.go)$
  go-mod-tidy-worker: any of: ^backend/worker/(go\.mod|go\.sum|.*\.go)$
  go-build-api: any of: ^backend/api/.*\.go$
  go-build-worker: any of: ^backend/worker/.*\.go$
  gosec-api: any of: ^backend/api/.*\.go$
  gosec-worker: any of: ^backend/worker/.*\.go$
  ruff-check: any of: ^backend/ai/app/.*\.py$
  mypy-check: any of: ^backend/ai/app/.*\.py$
  bandit-check: any of: ^backend/ai/app/.*\.py$
  eslint-check: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  docker-compose-check: any of: ^infra/docker-compose\.yml$

feat: add go grpc client for summarization service
  backend/api/internal/summarization/client.go
  backend/api/internal/summarization/client_test.go
Due: go-mod-tidy-api, go-build-api, gosec-api

test: add e2e tests with localstack for all scanners
  backend/api/Makefile
  backend/api/e2e/docker-compose.yml
  backend/api/e2e/dynamodb_test.go
  backend/api/e2e/ec2_test.go
  backend/api/e2e/iam_test.go
  backend/api/e2e/lambda_test.go
  backend/api/e2e/s3_test.go
  backend/api/e2e/setup.go
Due: go-mod-tidy-api, go-build-api, gosec-api

feat: implement grpc summarization service
  backend/ai/app/main.py
  backend/ai/app/services/__init__.py
  backend/ai/app/services/summarization.py
  backend/ai/pyproject.toml
Due: ruff-check, mypy-check, bandit-check

feat: add progress logging to ai summarization service
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

fix: update ai service cmd to use uvicorn
  backend/ai/Dockerfile
Due: none

fix: use print with flush for debug logging in ai service
  backend/ai/app/main.py
Due: ruff-check, mypy-check, bandit-check

ci: fix gosrc
  .github/workflows/ci.yml
Due: none

feat: parallelize ai finding summarization with 3 workers
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

feat: increase ai parallelism to 8 with gemini model and robust backoff
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

test: new make file test targets
  backend/api/Makefile
Due: none

docs: add e2e testing instructions to readme
  README.md
Due: none

fix: disable test caching for e2e ai demo to ensure fresh run
  backend/api/Makefile
Due: none

fix: replace unavailable kimi model with llama 3.1 405b
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

feat: add gpt-oss-120b to llm model rotation
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

chore: cleanup
  backend/api/TESTS_COMPLETED.md
  backend/api/TEST_SUMMARY.md
Due: none

feat: add llm integration with aws cli remediation commands
  backend/ai/app/grpc_gen/summarization_pb2.py
  backend/ai/app/services/summarization.py
  backend/ai/pyproject.toml
  backend/ai/uv.lock
  backend/api/internal/grpc/summarization.pb.go
  backend/api/internal/scanner/scanner.go
  backend/api/internal/security/service.go
  backend/api/internal/summarization/client.go
  backend/api/internal/summarization/client_test.go
  proto/summarization.proto
Due: go-mod-tidy-api, go-build-api, gosec-api, ruff-check, mypy-check, bandit-check

fix: restore working free models to rotation list
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

feat: add generated python grpc code for summarization
  backend/ai/app/grpc_gen/__init__.py
  backend/ai/app/grpc_gen/summarization_pb2.py
  backend/ai/app/grpc_gen/summarization_pb2_grpc.py
  backend/ai/app/main.py
  backend/ai/pyproject.toml
  backend/ai/uv.lock
Due: ruff-check, mypy-check, bandit-check

feat: add generated go grpc code for summarization
  .pre-commit-config.yaml
  backend/api/go.mod
  backend/api/go.sum
  backend/api/internal/grpc/summarization.pb.go
  backend/api/internal/grpc/summarization_grpc.pb.go
Due: go-mod-tidy-api, go-build-api, gosec-api

feat: implement graphql resolvers for scan and summary with e2e test
  backend/api/e2e/graphql_test.go
  backend/api/graph/resolver.go
  backend/api/graph/schema.resolvers.go
Due: go-mod-tidy-api, go-build-api, gosec-api

fix: use relative import in generated grpc code for python
  backend/ai/app/grpc_gen/summarization_pb2_grpc.py
Due: ruff-check, mypy-check, bandit-check

ci: go sec exceptions
  .github/workflows/ci.yml
Due: none

chore: cleanup
  TEST_COMPLETION_REPORT.md
Due: none

feat(frontend): new ui init, and move to bun from npm
  .pre-commit-config.yaml
  frontend/bun.lock
Due: none

feat(frontend): fix directory structure, remove nested frontend/frontend
  frontend/app/(dashboard)/accounts/_components/accounts-list.tsx
  frontend/app/(dashboard)/accounts/_components/add-account-dialog.tsx
  frontend/app/(dashboard)/accounts/page.tsx
  frontend/app/(dashboard)/chat/_components/chat-message.tsx
  frontend/app/(dashboard)/chat/_components/suggested-questions.tsx
  frontend/app/(dashboard)/chat/page.tsx
  frontend/app/(dashboard)/dashboard/_components/findings-by-severity-chart.tsx
  frontend/app/(dashboard)/dashboard/_components/quick-actions.tsx
  frontend/app/(dashboard)/dashboard/_components/recent-findings.tsx
  frontend/app/(dashboard)/dashboard/_components/security-score-chart.tsx
  frontend/app/(dashboard)/dashboard/page.tsx
  frontend/app/(dashboard)/findings/_components/findings-filters.tsx
  frontend/app/(dashboard)/findings/_components/findings-table.tsx
  frontend/app/(dashboard)/findings/page.tsx
  frontend/app/(dashboard)/layout.tsx
  frontend/app/(dashboard)/scans/_components/new-scan-form.tsx
  frontend/app/(dashboard)/scans/_components/scan-history-table.tsx
  frontend/app/(dashboard)/scans/page.tsx
  frontend/app/(dashboard)/settings/page.tsx
  frontend/app/favicon.ico
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Due: eslint-check, prettier-check

feat(frontend): basic primitives
  frontend/components.json
  frontend/components/app-sidebar.tsx
  frontend/components/component-example.tsx
  frontend/components/example.tsx
  frontend/components/page-header.tsx
  frontend/components/theme-provider.tsx
  frontend/components/theme-toggle.tsx
  frontend/components/ui/alert-dialog.tsx
  frontend/components/ui/avatar.tsx
  frontend/components/ui/badge.tsx
  frontend/components/ui/breadcrumb.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/chart.tsx
  frontend/components/ui/combobox.tsx
  frontend/components/ui/dialog.tsx
  frontend/components/ui/dropdown-menu.tsx
  frontend/components/ui/field.tsx
  frontend/components/ui/input-group.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/progress.tsx
  frontend/components/ui/scroll-area.tsx
  frontend/components/ui/select.tsx
  frontend/components/ui/separator.tsx
  frontend/components/ui/sheet.tsx
  frontend/components/ui/sidebar.tsx
  frontend/components/ui/skeleton.tsx
  frontend/components/ui/table.tsx
  frontend/components/ui/tabs.tsx
  frontend/components/ui/textarea.tsx
  frontend/components/ui/tooltip.tsx
  frontend/hooks/use-mobile.ts
  frontend/lib/utils.ts
Due: eslint-check, prettier-check

chore: cleanup
  .commitlintrc.js
  .github/workflows/ci.yml
  frontend/Dockerfile
  frontend/README.md
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/postcss.config.mjs
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/tests/health.test.js
  frontend/tsconfig.json
  package.json
Due: eslint-check, prettier-check

feat: decent ui
  frontend/.eslintrc.json
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
Due: prettier-check

chore: chore
  .commitlintrc.json
  bun.lock
Due: none

fix(ci): resolve frontend ci issues with bun setup and missing test script
  .github/workflows/ci.yml
  frontend/package.json
Due: prettier-check

feat(frontend): landing page
  frontend/app/(dashboard)/dashboard/page.tsx
  frontend/app/(dashboard)/scans/_components/scan-history-table.tsx
  frontend/app/(dashboard)/scans/page.tsx
  frontend/app/(dashboard)/settings/page.tsx
  frontend/app/_components/landing/attack-path-demo.tsx
  frontend/app/_components/landing/chat-demo.tsx
  frontend/app/_components/landing/cta.tsx
  frontend/app/_components/landing/features.tsx
  frontend/app/_components/landing/footer.tsx
  frontend/app/_components/landing/hero.tsx
  frontend/app/_components/landing/index.ts
  frontend/app/_components/landing/navbar.tsx
  frontend/app/_components/landing/security-findings-demo.tsx
  frontend/app/_components/landing/terminal-demo.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/bun.lock
  frontend/components.json
  frontend/components/ui/animated-beam.tsx
  frontend/components/ui/animated-list.tsx
  frontend/components/ui/bento-grid.tsx
  frontend/components/ui/floating-navbar.tsx
  frontend/components/ui/marquee.tsx
  frontend/components/ui/moving-border.tsx
  frontend/components/ui/spotlight-new.tsx
  frontend/components/ui/text-generate-effect.tsx
  frontend/package.json
Due: eslint-check, prettier-check

feat(frontend): landing page
  frontend/components/component-example.tsx
Due: eslint-check, prettier-check

chore: landing page
  frontend/components/component-example.tsx
Due: eslint-check, prettier-check

feat(frontend): better landing page hero
  frontend/app/_components/landing/hero.tsx
  frontend/app/globals.css
  frontend/components/ui/border-beam.tsx
  frontend/components/ui/orbiting-circles.tsx
  frontend/components/ui/particles.tsx
  frontend/components/ui/retro-grid.tsx
  frontend/components/ui/shimmer-button.tsx
  frontend/components/ui/word-rotate.tsx
Due: eslint-check, prettier-check
