Repository PhantomInTheWire/CloudCop: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy-api, go-mod-tidy-worker, go-build-api, go-build-worker, gosec-api, gosec-worker, ruff-check, mypy-check, bandit-check, eslint-check, prettier-check, docker-compose-check

Path conditions:
  go-mod-tidy-api: any of: ^backend/api/(go\.mod|go\.sum|.*\.go)$
  go-mod-tidy-worker: any of: ^backend/worker/(go\.mod|go\.sum|.*\.go)$
  go-build-api: any of: ^backend/api/.*\.go$
  go-build-worker: any of: ^backend/worker/.*\.go$
  gosec-api: any of: ^backend/api/.*\.go$
  gosec-worker: any of: ^backend/worker/.*\.go$
  ruff-check: any of: ^backend/ai/app/.*\.py$
  mypy-check: any of: ^backend/ai/app/.*\.py$
  bandit-check: any of: ^backend/ai/app/.*\.py$
  eslint-check: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  docker-compose-check: any of: ^infra/docker-compose\.yml$

chore: cleanup
  .commitlintrc.js
  .github/workflows/ci.yml
  frontend/Dockerfile
  frontend/README.md
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/postcss.config.mjs
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/tests/health.test.js
  frontend/tsconfig.json
  package.json
Due: eslint-check, prettier-check

feat(frontend): fix directory structure, remove nested frontend/frontend
  frontend/app/(dashboard)/accounts/_components/accounts-list.tsx
  frontend/app/(dashboard)/accounts/_components/add-account-dialog.tsx
  frontend/app/(dashboard)/accounts/page.tsx
  frontend/app/(dashboard)/chat/_components/chat-message.tsx
  frontend/app/(dashboard)/chat/_components/suggested-questions.tsx
  frontend/app/(dashboard)/chat/page.tsx
  frontend/app/(dashboard)/dashboard/_components/findings-by-severity-chart.tsx
  frontend/app/(dashboard)/dashboard/_components/quick-actions.tsx
  frontend/app/(dashboard)/dashboard/_components/recent-findings.tsx
  frontend/app/(dashboard)/dashboard/_components/security-score-chart.tsx
  frontend/app/(dashboard)/dashboard/page.tsx
  frontend/app/(dashboard)/findings/_components/findings-filters.tsx
  frontend/app/(dashboard)/findings/_components/findings-table.tsx
  frontend/app/(dashboard)/findings/page.tsx
  frontend/app/(dashboard)/layout.tsx
  frontend/app/(dashboard)/scans/_components/new-scan-form.tsx
  frontend/app/(dashboard)/scans/_components/scan-history-table.tsx
  frontend/app/(dashboard)/scans/page.tsx
  frontend/app/(dashboard)/settings/page.tsx
  frontend/app/favicon.ico
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Due: eslint-check, prettier-check

fix(ci): resolve frontend ci issues with bun setup and missing test script
  .github/workflows/ci.yml
  frontend/package.json
Due: prettier-check

feat(frontend): basic primitives
  frontend/components.json
  frontend/components/app-sidebar.tsx
  frontend/components/component-example.tsx
  frontend/components/example.tsx
  frontend/components/page-header.tsx
  frontend/components/theme-provider.tsx
  frontend/components/theme-toggle.tsx
  frontend/components/ui/alert-dialog.tsx
  frontend/components/ui/avatar.tsx
  frontend/components/ui/badge.tsx
  frontend/components/ui/breadcrumb.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/chart.tsx
  frontend/components/ui/combobox.tsx
  frontend/components/ui/dialog.tsx
  frontend/components/ui/dropdown-menu.tsx
  frontend/components/ui/field.tsx
  frontend/components/ui/input-group.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/progress.tsx
  frontend/components/ui/scroll-area.tsx
  frontend/components/ui/select.tsx
  frontend/components/ui/separator.tsx
  frontend/components/ui/sheet.tsx
  frontend/components/ui/sidebar.tsx
  frontend/components/ui/skeleton.tsx
  frontend/components/ui/table.tsx
  frontend/components/ui/tabs.tsx
  frontend/components/ui/textarea.tsx
  frontend/components/ui/tooltip.tsx
  frontend/hooks/use-mobile.ts
  frontend/lib/utils.ts
Due: eslint-check, prettier-check

chore: chore
  .commitlintrc.json
  bun.lock
Due: none

chore(frontend): bump next
  frontend/bun.lock
  frontend/package.json
Due: prettier-check

Update README.md
  README.md
Due: none

chore: cleanup
  backend/ai/app/services/summarization.py
  backend/api/graph/schema.resolvers.go
  backend/api/internal/awsauth/credentials.go
  backend/api/internal/middleware/auth/auth.go
  backend/api/internal/scanner/coordinator.go
  frontend/app/(dashboard)/accounts/_components/add-account-dialog.tsx
  frontend/app/(dashboard)/scans/_components/new-scan-form.tsx
  frontend/components/ui/sidebar.tsx
Due: go-mod-tidy-api, go-build-api, gosec-api, ruff-check, mypy-check, bandit-check, eslint-check, prettier-check
