Repository PhantomInTheWire/CloudCop: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy-api, go-mod-tidy-worker, go-build-api, go-build-worker, gosec-api, gosec-worker, ruff-check, mypy-check, bandit-check, eslint-check, prettier-check, docker-compose-check

Path conditions:
  go-mod-tidy-api: any of: ^backend/api/(go\.mod|go\.sum|.*\.go)$
  go-mod-tidy-worker: any of: ^backend/worker/(go\.mod|go\.sum|.*\.go)$
  go-build-api: any of: ^backend/api/.*\.go$
  go-build-worker: any of: ^backend/worker/.*\.go$
  gosec-api: any of: ^backend/api/.*\.go$
  gosec-worker: any of: ^backend/worker/.*\.go$
  ruff-check: any of: ^backend/ai/app/.*\.py$
  mypy-check: any of: ^backend/ai/app/.*\.py$
  bandit-check: any of: ^backend/ai/app/.*\.py$
  eslint-check: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  docker-compose-check: any of: ^infra/docker-compose\.yml$

test: add e2e test for security service and optimize ai service dockerfile
  backend/ai/Dockerfile
  backend/api/Makefile
  backend/api/e2e/security_service_test.go
Due: go-mod-tidy-api, go-build-api, gosec-api

feat: add e2e infrastructure with localstack and misconfigs setup
  backend/api/Makefile
  backend/api/e2e/setup-misconfigs.sh
  infra/docker-compose.yml
Due: docker-compose-check

feat: implement grpc summarization service
  backend/ai/app/main.py
  backend/ai/app/services/__init__.py
  backend/ai/app/services/summarization.py
  backend/ai/pyproject.toml
Due: ruff-check, mypy-check, bandit-check

feat: implement graphql resolvers for scan and summary with e2e test
  backend/api/e2e/graphql_test.go
  backend/api/graph/resolver.go
  backend/api/graph/schema.resolvers.go
Due: go-mod-tidy-api, go-build-api, gosec-api

feat: add go grpc client for summarization service
  backend/api/internal/summarization/client.go
  backend/api/internal/summarization/client_test.go
Due: go-mod-tidy-api, go-build-api, gosec-api

feat: add graphql schema for scan summaries and remediation commands
  backend/api/graph/generated.go
  backend/api/graph/model/models_gen.go
  backend/api/graph/schema.graphqls
  backend/api/graph/schema.resolvers.go
Due: go-mod-tidy-api, go-build-api, gosec-api

feat: add llm integration with aws cli remediation commands
  backend/ai/app/grpc_gen/summarization_pb2.py
  backend/ai/app/services/summarization.py
  backend/ai/pyproject.toml
  backend/ai/uv.lock
  backend/api/internal/grpc/summarization.pb.go
  backend/api/internal/scanner/scanner.go
  backend/api/internal/security/service.go
  backend/api/internal/summarization/client.go
  backend/api/internal/summarization/client_test.go
  proto/summarization.proto
Due: go-mod-tidy-api, go-build-api, gosec-api, ruff-check, mypy-check, bandit-check

test: new make file test targets
  backend/api/Makefile
Due: none

docs: add e2e testing instructions to readme
  README.md
Due: none

fix: use relative import in generated grpc code for python
  backend/ai/app/grpc_gen/summarization_pb2_grpc.py
Due: ruff-check, mypy-check, bandit-check

fix: optimize ai service dockerfile with proper caching and base image
  backend/ai/Dockerfile
Due: none

chore: separate dev dependencies and optimize production build
  backend/ai/Dockerfile
  backend/ai/pyproject.toml
  backend/ai/uv.lock
Due: none

fix: nil pointer dereference in startscan resolver
  backend/api/graph/schema.resolvers.go
Due: go-mod-tidy-api, go-build-api, gosec-api

fix: update ai service cmd to use uvicorn
  backend/ai/Dockerfile
Due: none

fix: disable test caching for e2e ai demo to ensure fresh run
  backend/api/Makefile
Due: none

fix: use print with flush for debug logging in ai service
  backend/ai/app/main.py
Due: ruff-check, mypy-check, bandit-check

feat: increase ai parallelism to 8 with gemini model and robust backoff
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

docs: add wait time notice to e2e test output
  backend/api/Makefile
Due: none

fix: add logging to ai service startup to debug grpc server
  backend/ai/app/main.py
Due: ruff-check, mypy-check, bandit-check

feat: parallelize ai finding summarization with 3 workers
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

feat: add progress logging to ai summarization service
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

feat: add gpt-oss-120b to llm model rotation
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

fix: restore working free models to rotation list
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

fix: linting errors in summarization service (ruff, mypy, bandit)
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

fix: optimize e2e demo to run only graphql test to halve api usage
  backend/api/Makefile
Due: none

fix: replace unavailable kimi model with llama 3.1 405b
  backend/ai/app/services/summarization.py
Due: ruff-check, mypy-check, bandit-check

ci: go sec exceptions
  .github/workflows/ci.yml
Due: none

ci: fix gosrc
  .github/workflows/ci.yml
Due: none

feat: add protobuf schema for summarization service
  proto/summarization.proto
Due: none

build: add buf configuration for protobuf generation
  buf.gen.yaml
  buf.yaml
Due: none
